<h1>This is page available after login</h1>
  
<img src="https://source.unsplash.com/900x650/?Homepage, logged" class="d-block w-100" alt="...">

  
<h1>This is home page</h1>
  
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>